<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STOCKS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
<p hidden id="sec_fee">{{sec_fee}}</p>
<h1>STOCKS Overview</h1>
    <div class="surround">
        <h2>General Info</h2>
        <p><strong>Team Name:</strong> {{ data.game_info.teamnickname}}</p>
        <p><strong>Date Updated:</strong> {{ data.dataresult.record.recorddate}}</p>
        <p><strong>Jump To: </strong><a href="#breakdown">Stock Breakdown</a></p>
        <p><strong>Jump To: </strong><a href="#realized">Realized Gains/Losses</a></p>
        <p><strong>Jump To: </strong><a href="#recent">Recent Transactions</a></p>
    </div>
    <div class="surround">
        <h2>Rankings World</h2>
        <p><strong>Region Rankings:</strong> You are placed {{ data.game_info.regionranktext }} positions</p>
        <p><strong>Coordinator Rankings:</strong> You are placed {{ data.game_info.coordrank }} positions</p>
    </div>
    <div class="surround">
        <h2>Total Money Center</h2>
        <p><strong>Stock Value:</strong> {{data.dataresult.record.total_longs}}</p>
        <p><strong>Shorts Value</strong> {{data.dataresult.record.value_shorts}}</p>
        <p><strong>Cash Balance:</strong> {{ data.dataresult.record.cash_balance}}</p>
        <p><strong>Total Equity:</strong> {{ data.dataresult.record.total_equity}}</p>
    </div>
    <div class="surround">
        <h2>General Stock Info</h2>
        <p><strong>Stock Count:</strong> {{data.transactions.record|length if data.transactions else '0'}}</p>
        {% if data.analytics.topPerformer %}
            <p><strong>Top Performer:</strong> <a id="top-performer" class="{{ highlight(data.analytics.topPerformer.per_unrealized_gainslosses)}}" href="#{{data.analytics.topPerformer.id}}">{{data.analytics.topPerformer.ticker}}: {{ data.analytics.topPerformer.per_unrealized_gainslosses }}%</a></p>
        {% endif %}
        {% if data.analytics.worstPerformer %}
        <p><strong>Worst Performer:</strong> <a id="worst-performer" class="{{ highlight(data.analytics.worstPerformer.per_unrealized_gainslosses)}}" href="#{{data.analytics.worstPerformer.id}}">{{data.analytics.worstPerformer.ticker}}: {{ data.analytics.worstPerformer.per_unrealized_gainslosses }}%</a></p>
        {% endif %}
    </div>
    {% if data.transactions and data.transactions.record|length > 0 %}
    <h1 id="breakdown">Stock Breakdown</h1>
        {% for stock in data.transactions.record %}
            <div id="{{ stock.id }}" class="surround breakdown">
                <h2 class="ticker">{{ stock.ticker }}</h2>
                <p><strong>Stock Type:</strong> <span class="position">{{ stock.position }}</span></p>
                <p><strong>Shares Owned:</strong> <span class="shares_owned">{{ stock.shares_value.replace('-','') }}</span></p>
                <p><strong>Original Purchase Price:</strong> $<span class="purchase_price">{{stock.netcost_pershare }}</span></p>
                <p><strong>Profitable Sell Price:</strong> ${{ data.analytics.profitable_sell_prices[stock.id] }}</p>
                <p>
                    <div class="current_price_container">
                        <div class="current_price_label"><strong>Current Stock Price: </strong><br>
                            <p class="last_updated">(as of {{ most_recent_close_time() }})</p>
                        </div>
                    <span class="current_price">${{ stock.currentprice_pershare }}</span></p>
                    </div>
                <p class="gainslosses {{ highlight(stock.per_unrealized_gainslosses)}}">
                    {# Multipart unrealized gains/losses section. First, pass the gains/losses value
                        to the highlight function to determine the color of the paragraph #}
                    <strong>Unrealized Gains/Losses:</strong>
                    {# Say if the stock has gone up or down #}
                    {{ stock.ticker }} has gone <span class="updown">{{ 'down' if (bool(stock.per_unrealized_gainslosses.startswith('-')) != bool(stock.position.lower() == 'short')) else 'up' }}</span>
                    {# and the percentage #}
                    <span class="gainslosses_percent">{{stock.per_unrealized_gainslosses.replace('-', '') }}</span>% since purchase.<br>
                    {# Say if it's a profit or loss or loss #}
                    This resulted in a <span class="profit_loss">{{ 'loss' if stock.per_unrealized_gainslosses.startswith('-') else 'profit'}}</span> 
                    {# Then say how much in dollars we've profited or lost #}
                    of <span class="profit_total">{{ stock.unrealized_gainslosses.replace('-','') }} </span> 
                    {# Fnally, say what the profit/loss would be if sold #}
                    ($<span class="profit_loss_sold">{{((((stock.unrealized_gainslosses.replace('$', ''))|float - calculate_fees(stock.currentvalue|float))|round(2)|string).replace('-' if stock.per_unrealized_gainslosses.startswith('-') else '' , '')) }}</span> if sold)
                </p>

                <button style="display: {{ 'none' if '_' in stock.ticker else 'unset' }}" onclick="this.style.display = 'none'; update_current_price('{{ stock.id }}', this);">Update Current Price</button>
            </div>
        {% endfor %}
    {% endif %}
    {% if data.recent %}
        <h1 id="recent">Recent Transactions</h1>
        {% for stock in data.recent %}
            <div id="{{ stock.confirmation }}" class="surround">
                <h2>{{ stock.ticker }}</h2>
                <p><strong>Trade Type:</strong> {{ stock.trade_type }}</p>
                <p><strong>Shares Owned:</strong> {{ stock.shares_value }}</p>
                <p><strong>Transaction Time:</strong> {{ stock.trade_entered }}</p>
                <p><strong>Confirmation:</strong> {{ stock.confirmation }}</p>
                <p><strong>Description:</strong> {{ stock.description }}</p>
            </div>
        {% endfor %}
    {% endif %}
    {% if data.gainslosses %}
        <h1 id="realized">Realized Gains/Losses</h1>
        {% for stock in data.gainslosses %}
            <div id="{{ stock.id }}" class="surround">
                <h2>{{ stock.ticker }}</h2>
                <p><strong>Shares Owned</strong>  {{ stock.shares_value.replace('-','') }}</p>
                <p><strong>Original Purchase Price:</strong> ${{ stock.netcostpershare }}</p>
                <p><strong>Current Stock Price:</strong> ${{ stock.netsalepershare }}</p>
                <p><strong>{{'Loss' if stock.gains.startswith('-') else 'Profit' }}:</strong><span class="{{ highlight(stock.gainpercent)}}"> ${{ stock.gains }}</span></p>
            <p><strong>{{'Loss' if stock.gains.startswith('-') else 'Profit' }} percentage:</strong><span class="{{ highlight(stock.gainpercent)}}"> {{ stock.gainpercent }}</span></p>
            </div>
        {% endfor %}
    {% endif %}
</main>
<script src="{{ url_for('static', filename='stocks.js')}}"></script>
</body>
</html>